body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

li .delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

li .delete:hover {
  background: #c82333;
}

#logout {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background: #dc3545;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#logout:hover {
  background: #c82333;
}

.welcome-message {
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

#completed-tasks {
  margin-top: 20px;
}

#completed-tasks h2 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

#completed-task-list {
  list-style: none;
  padding: 0;
}

#completed-task-list li {
  background: #e9ecef;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#completed-task-list li:last-child {
  border-bottom: none;
}

#user-tasks {
  margin-top: 20px;
}

#user-tasks h2 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

#user-task-list {
  list-style: none;
  padding: 0;
}

#user-task-list li {
  background: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-task-list li:last-child {
  border-bottom: none;
}

#user-task-list li {
  background: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
